.navbar-box {
  background-color: #00b4d8;
}

.logo-image {
  width: 3rem;
  border-radius: 0.3rem;
}

.active {
  background-color: #03ffea;
  color: rgb(24, 21, 21);
  border: 1px solid rgb(68, 255, 0);
  padding: 5px;
  border-radius: 5px;
}

.suggested-result {
  width: 12rem;
  background-color: rgb(118, 188, 242);
  position: absolute;
  z-index: 5;
  text-align: start;
  border: 1px solid rgb(252, 245, 245);
  border-radius: 0.5rem;
}

.suggested-result .item {
  z-index: 5;
  color: rgb(254, 254, 254);
  padding-left: 1rem;
}
.search-box {
  border-radius: 10px;
}
.input-box {
  padding-left: 2rem;
  border: none;
  height: 3rem;
  width: 90%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-button {
  height: 3rem;
  width: 10%;
  border: none;
  background-color: #fb8500;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.button-box {
  background-color: #f8ddd4;
}
.name {
  padding-top: 0.5rem;
}
