<div class="container-sm mt-5 form-style">
  <h1 class="text-center">Add Product</h1>
  <div
    *ngIf="addProductMessage"
    class="alert alert-success text-center"
    role="alert"
  >
    {{ addProductMessage }}
  </div>
  <div class="row justify-content-center">
    <form
      [formGroup]="addProduct"
      (ngSubmit)="submitProduct()"
      class="row g-3 needs-validation"
    >
      <input
        class="form-control"
        required
        type="text"
        placeholder="Enter Product Name"
        formControlName="productName"
      />
      <span
        class="text-danger"
        *ngIf="
          addProduct.controls['productName'].hasError('required') &&
          addProduct.controls['productName'].touched
        "
        >Enter Product Name</span
      >

      <input
        class="form-control"
        required
        type="text"
        placeholder="Enter Product Price"
        ngModel
        formControlName="price"
      />
      <span
        class="text-danger"
        *ngIf="
          addProduct.controls['price'].hasError('required') &&
          addProduct.controls['price'].touched
        "
        >Enter Product Price</span
      >
      <input
        class="form-control"
        type="text"
        placeholder="Enter Product Color"
        formControlName="color"
      />
      <span
        class="text-danger"
        *ngIf="
          addProduct.controls['color'].hasError('required') &&
          addProduct.controls['color'].touched
        "
        >Enter Product Color</span
      >
      <input
        class="form-control"
        type="text"
        placeholder="Enter Product Category"
        formControlName="category"
      />
      <span
        class="text-danger"
        *ngIf="
          addProduct.controls['category'].hasError('required') &&
          addProduct.controls['category'].touched
        "
        >Enter Product Category</span
      >
      <input
        class="form-control"
        required
        type="file"
        multiple
        placeholder="choose images"
        (change)="onSelectedFile($event)"
      />
      <textarea
        class="form-control"
        type="text"
        placeholder="Description"
        formControlName="description"
      ></textarea>
      <span
        class="text-danger"
        *ngIf="
          addProduct.controls['description'].hasError('required') &&
          addProduct.controls['description'].touched
        "
        >Enter Product Description</span
      >

      <button
        [disabled]="addProduct.invalid"
        class="btn btn-primary button-style"
      >
        Add
      </button>
    </form>
  </div>
</div>
