<div *ngIf="product" class="product-detail">
  <div class="col-sm-6 d-flex justify-content-center align-items-center">
    <button class="btn-primary rounded button-box" (click)="left()">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <img
      src="http://localhost:8080/image-api/{{ productImage[index].imageName }}"
      class="card-img-top product-image"
      alt="loading"
    />
    <button class="btn-primary rounded button-box" (click)="right()">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
  <div class="col-sm-6 details">
    <h1>{{ product.productName }}</h1>
    <div class="me-5">Price: Rs{{ product.price }}</div>
    <div>
      Color:
      <h1 [style.backgroundColor]="product.color" class="color-box"></h1>
    </div>
    <p>Category: {{ product.category }}</p>
    <p>{{ product.description }}</p>
    <div class="cart-box">
      <button class="button-box" (click)="quantity('min')">-</button>
      <h4 class="text-box">{{ quantityProduct }}</h4>
      <button class="button-box" (click)="quantity('plus')">+</button>
      <button
        *ngIf="addCart"
        class="bn632-hover ms-2 bn20 button_height"
        (click)="addToCart()"
      >
        Add to Cart
      </button>
      <button
        *ngIf="!addCart"
        class="bn632-hover bn20 ms-2 button_height"
        (click)="removeFromCart(product.productId)"
      >
        Remove
      </button>
    </div>
    <button class="bn632-hover bn20 mt-3 mb-2 button_height" (click)="buyNow()">
      Buy Now
    </button>
  </div>
</div>
