.product-detail {
  display: flex;
  width: 80%;
  margin: 10px auto;
  border: 2px solid red;
  border-radius: 0.5rem;
  background-color: rgb(210, 245, 245);
}
.product-image {
  height: 20rem;
  width: 80%;
  object-fit: contain;
  margin-top: 5px;
  margin-bottom: 5px;
}
.details {
  text-align: center;
}
.color-box {
  width: 30px;
  height: 30px;
  border: 2px solid blueviolet;
  border-radius: 50%;
  margin: auto;
}
.cart-box {
  display: flex;
  justify-content: center;
  height: 3rem;
}
.text-box {
  border: 2px solid gray;
  width: 5rem;
  height: 3rem;
  text-align: center;

  padding-top: 8px;
}
.button-box {
  width: 3rem;
}

.cart-button {
  width: 8rem;
  background-color: aqua;
  margin-left: 1rem;
  border-radius: 5px;
}
.cart-button {
  width: 8rem;
  background-color: aqua;
  margin-left: 1rem;
  border-radius: 5px;
}
.buy-button {
  width: 8rem;
  height: 3rem;
  background-color: aqua;
  border-radius: 5px;
  margin: 1rem auto;
}
