<div *ngIf="!showLogin" class="container-sm form-style pt-5">
  <h1 class="text-center">User Sign-Up</h1>
  <div *ngIf="signUpMessage" class="alert alert-success" role="alert">
    {{ signUpMessage }}
  </div>
  <div class="row justify-content-center">
    <form
      [formGroup]="userSignUp"
      (ngSubmit)="signUp()"
      class="row g-3 needs-validation"
    >
      <input
        class="form-control"
        type="text"
        placeholder="Enter userID here"
        formControlName="userName"
      />
      <span
        class="text-danger"
        *ngIf="
          userSignUp.controls['userName'].hasError('required') &&
          userSignUp.controls['userName'].touched
        "
        >User Name is required</span
      >
      <input
        class="form-control"
        type="text"
        placeholder="Enter full Name Here.."
        formControlName="name"
      />
      <span
        class="text-danger"
        *ngIf="
          userSignUp.controls['name'].hasError('required') &&
          userSignUp.controls['name'].touched
        "
        >Full Name is required</span
      >
      <input
        class="form-control"
        type="password"
        placeholder="Enter Password"
        formControlName="password"
      />
      <span
        class="text-danger"
        *ngIf="
          userSignUp.controls['password'].hasError('required') &&
          userSignUp.controls['password'].touched
        "
        >Password is required</span
      >

      <button
        [disabled]="userSignUp.invalid"
        class="btn btn-primary button-style"
      >
        Sign-Up
      </button>
      <a class="toggle" (click)="openLogin()"
        >Already have Account? Click to Login</a
      >
    </form>
  </div>
</div>

<!-- Login Area -->

<div *ngIf="showLogin" class="container-sm pt-5 form-style">
  <h1 class="text-center">User Login</h1>
  <h5 class="error" *ngIf="isLogin">{{ authError }}</h5>
  <div class="row justify-content-center">
    <form
      [formGroup]="userLogin"
      (ngSubmit)="login()"
      class="row g-3 needs-validation"
    >
      <input
        class="form-control"
        type="text"
        placeholder="Enter userId Id"
        formControlName="userName"
      />
      <span
        class="text-danger"
        *ngIf="
          userLogin.controls['userName'].hasError('required') &&
          userLogin.controls['userName'].touched
        "
        >User Name is required</span
      >
      <input
        class="form-control"
        type="password"
        placeholder="Enter Password"
        formControlName="password"
      />
      <span
        class="text-danger"
        *ngIf="
          userLogin.controls['password'].hasError('required') &&
          userLogin.controls['password'].touched
        "
        >Password is required</span
      >

      <button
        [disabled]="userLogin.invalid"
        class="btn btn-primary button-style"
      >
        Login
      </button>
      <a class="toggle" (click)="openSignUp()"
        >Don't have Account? Click to SignUp</a
      >
    </form>
  </div>
</div>
