<div class="container-sm pt-5 form-style">
  <h1 class="text-center">Password Change</h1>
  <div class="row justify-content-center">
    <form
      [formGroup]="changePasswordForm"
      (ngSubmit)="changePassword()"
      class="row g-3 needs-validation"
    >
      <div formGroupName="userDetail" class="userDetailForm">
        <input
          class="form-control mb-3"
          type="text"
          placeholder="Enter userId Id"
          formControlName="userName"
        />
        <input
          class="form-control"
          type="password"
          placeholder="Enter Current Password"
          formControlName="password"
        />
      </div>
      <input
        class="form-control"
        type="password"
        placeholder="Enter New Password"
        formControlName="newPassword"
      />
      <input
        class="form-control"
        type="password"
        placeholder="Enter Confirm Password"
        formControlName="confirmPassword"
      />
      <button
        [disabled]="changePasswordForm.invalid"
        class="btn btn-primary button-style"
      >
        Submit
      </button>
    </form>
  </div>
</div>
