<div *ngIf="!showLogin" class="container-sm form-style pt-5">
  <h1 class="text-center">Seller Sign-Up</h1>
  <div *ngIf="signUpMessage" class="alert alert-success" role="alert">
    {{ signUpMessage }}
  </div>
  <div class="row justify-content-center">
    <form
      [formGroup]="sellerSignUp"
      (ngSubmit)="signUp()"
      class="row g-3 needs-validation"
    >
      <input
        class="form-control"
        type="text"
        placeholder="Enter SellerId Here.."
        formControlName="sellerName"
      />
      <span
        class="text-danger"
        *ngIf="
          sellerSignUp.controls['sellerName'].hasError('required') &&
          sellerSignUp.controls['sellerName'].touched
        "
        >SellerName is required</span
      >
      <input
        class="form-control"
        type="text"
        placeholder="Enter full Name Here.."
        formControlName="name"
      />
      <span
        class="text-danger"
        *ngIf="
          sellerSignUp.controls['name'].hasError('required') &&
          sellerSignUp.controls['name'].touched
        "
        >Seller Full Name is required</span
      >
      <input
        class="form-control"
        type="password"
        placeholder="Enter Password"
        formControlName="password"
      />
      <span
        class="text-danger"
        *ngIf="
          sellerSignUp.controls['password'].hasError('required') &&
          sellerSignUp.controls['password'].touched
        "
        >Password is required</span
      ><span
        class="text-danger"
        *ngIf="
          sellerSignUp.controls['password'].hasError('minlength') &&
          sellerSignUp.controls['password'].touched
        "
        >Password must be 8 character long</span
      >

      <button
        [disabled]="sellerSignUp.invalid"
        class="btn btn-primary button-style"
      >
        Sign-Up
      </button>
      <a class="toggle" (click)="openLogin()"
        >Already have Account? Click to Login</a
      >
    </form>
  </div>
</div>

<!-- Login Area -->

<div *ngIf="showLogin" class="container-sm form-style pt-5">
  <h1 class="text-center">Seller Login</h1>
  <h5 class="error" *ngIf="isLogin">{{ authError }}</h5>
  <div class="row justify-content-center">
    <form
      [formGroup]="sellerLogin"
      (ngSubmit)="login()"
      class="row g-3 needs-validation"
    >
      <input
        class="form-control"
        type="text"
        placeholder="Enter  SellerId"
        formControlName="sellerName"
      />
      <span
        class="text-danger"
        *ngIf="
          sellerLogin.controls['sellerName'].hasError('required') &&
          sellerLogin.controls['sellerName'].touched
        "
        >SellerName is required</span
      >
      <input
        class="form-control"
        type="password"
        placeholder="Enter Password"
        formControlName="password"
      />
      <span
        class="text-danger"
        *ngIf="
          sellerLogin.controls['password'].hasError('required') &&
          sellerLogin.controls['password'].touched
        "
        >Password is required</span
      >

      <button
        [disabled]="sellerLogin.invalid"
        class="btn btn-primary button-style"
      >
        Login
      </button>
      <a class="toggle" (click)="openSignUp()"
        >Don't have Account? Click to SignUp</a
      >
    </form>
  </div>
</div>
