<div *ngIf="!showLogin" class="container-sm text-center form-style pt-5">
  <h1>Seller Sign-Up</h1>
  <div *ngIf="signUpMessage" class="alert alert-success" role="alert">
    {{ signUpMessage }}
  </div>
  <div class="row justify-content-center">
    <form
      #sellerSignUp="ngForm"
      (ngSubmit)="signUp(sellerSignUp.value)"
      class="row g-3 needs-validation"
    >
      <input
        class="form-control"
        required
        type="text"
        placeholder="Enter SellerId Here.."
        ngModel
        name="sellerName"
      />
      <input
        class="form-control"
        required
        type="text"
        placeholder="Enter full Name Here.."
        ngModel
        name="name"
      />
      <input
        class="form-control"
        required
        type="password"
        placeholder="Enter Password"
        ngModel
        name="password"
      />

      <button class="btn btn-primary button-style">Sign-Up</button>
      <a class="toggle" (click)="openLogin()"
        >Already have Account? Click to Login</a
      >
    </form>
  </div>
</div>

<!-- Login Area -->

<div *ngIf="showLogin" class="container-sm text-center form-style pt-5">
  <h1>Seller Login</h1>
  <h5 class="error" *ngIf="isLogin">{{ authError }}</h5>
  <div class="row justify-content-center">
    <form
      #sellerLogin="ngForm"
      (ngSubmit)="login(sellerLogin.value)"
      class="row g-3 needs-validation"
    >
      <input
        class="form-control"
        required
        type="text"
        placeholder="Enter  SellerId"
        ngModel
        name="sellerName"
      />
      <input
        class="form-control"
        required
        type="password"
        placeholder="Enter Password"
        ngModel
        name="password"
      />

      <button class="btn btn-primary button-style">Login</button>
      <a class="toggle" (click)="openSignUp()"
        >Don't have Account? Click to SignUp</a
      >
    </form>
  </div>
</div>
