.carousel-box {
  width: 80%;
  margin: auto;
  height: 50vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 3px solid rgba(137, 43, 226, 0.362);
  border-radius: 10px;
  z-index: 1;
  background-color: rgb(186, 247, 250);
  box-shadow: 1px 1px 20px 5px #457b9d;
}

.card-box {
  border: 2px solid rgba(137, 43, 226, 0.362);
  background-color: rgb(215, 247, 248);
}
.link {
  text-decoration: none;
}

.name {
  text-align: center;
  background-color: rgb(187, 243, 232);
  border: 2px solid white;
  border-radius: 10px;
  z-index: 2;
  position: relative;
  top: -2.8rem;
  color: rgb(125, 109, 214);
}
