<div class="container-sm text-center mt-5 form-style">
  <h1>Update Product</h1>
  <div *ngIf="updateProductMessage" class="alert alert-success" role="alert">
    {{ updateProductMessage }}
  </div>

  <div class="row justify-content-center">
    <form
      [formGroup]="addProduct"
      (ngSubmit)="updateProduct()"
      class="row g-3 needs-validation"
    >
      <input
        class="form-control"
        type="text"
        placeholder="Enter Product Name"
        formControlName="productName"
        name="productName"
      />
      <input
        class="form-control"
        type="text"
        placeholder="Enter Product Price"
        formControlName="price"
      />
      <input
        class="form-control"
        type="text"
        placeholder="Enter Product Color"
        formControlName="color"
      />
      <input
        class="form-control"
        type="text"
        placeholder="Enter Product Category"
        formControlName="category"
      />
      <textarea
        class="form-control"
        type="text"
        placeholder="Description"
        formControlName="description"
      ></textarea>

      <button
        [disabled]="addProduct.invalid"
        class="btn btn-primary button-style"
      >
        Update
      </button>
    </form>
  </div>
</div>
